@charset "utf-8";
/* CSS Document */

h2 {
	text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    position: left; 
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 2em;
	letter-spacing: 5px;
	color: white;
	text-align: center;
}

body > .container {
	background-color: white;
}

#shoes {
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 20px;
	background-color: white;
}

.text > a:link { 
	color: white;
}

.text > a:visited { 
	color: grey;
}

.text > a:hover {
    color: grey;
	text-decoration: none;
}

.text > a:active {
	color: gold;
}


h4 {
	color: grey;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-size: 15px;
	text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,215,0, 0.75);
}

.col-lg-4:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
}